/* -----General Styling Below------- */
body, header {
  text-align: center;
}
footer {
  position: relative;
}
header a {
  text-decoration: none;
}
.hide {
  display: none;
}
/* -----General Styling Above-------- */
/* -----Nav Styling Below------------ */
.nav-icon {
  display: flex;
  justify-content: right;
  margin-right: 10%;
}
.nav-icon .button {
  display: inline-block;
  width: 35px;
  padding: 10px 5px 10px 12px;
}
.content .menu {
  margin: 0 auto;
  border: none;
  min-width: 350px;
}
.content .menu .item {
  color: #3a76cf;
  text-align: center;
  font-size: 1.5rem;
}
/* -----Nav Styling Above------------ */
/* -----Calendar Styling Below------- */
.month-view, .year-view, .day-view, .week-view {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  box-shadow: 3px 5px 5px #ccc;
}
.cal-row-0,.cal-row-1, .cal-row-2, .cal-row-3, .cal-row-4, .cal-row-5, .cal-row-6, .cal-row-7 {
  display: flex;
  flex-direction: row;
  width: 100%; 
}
.cal-row-0 div {
  align-content: center;
}
.cal-row-0 div, .cal-row-1 div, .cal-row-2 div, .cal-row-3 div, .cal-row-4 div, .cal-row-5 div, .cal-row-6 div, .cal-row-7 div {
  border: solid 1px #eee;
  height: 70px;
  width: 14.28%;
}
.day-view .cal-row-0 div, .day-view .cal-row-1 div {
  width: 100%;
}
.week-view .cal-row-0 div, .week-view .cal-row-1 div{
  width: 50%;
}
.day-view .cal-row-1 div, .week-view .cal-row-1 div {
  min-height:400px;
}
.year-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.year-wrapper > div {
  width: 42.5%;
  margin: 15px;
}
.year-wrapper .cal-row-0 div, .year-wrapper .cal-row-1 div, .year-wrapper .cal-row-2 div, .year-wrapper .cal-row-3 div, .year-wrapper .cal-row-4 div, .year-wrapper .cal-row-5 div, .year-wrapper .cal-row-6 div, .year-wrapper .cal-row-7 div {
  border: solid 1px #eee;
  height: 40px;
  width: 14.28%;
}
/* -----Calendar Styling Above------- */
/* -----SwitchBtn Styling Below------ */
.switch-btn-wrapper {
  display: flex;
  justify-content: right;
}
.switch-button {
  position:fixed;
  bottom: 5%;
  right: 5%;
  background-color: #fff;
}
.toggle-switch-button a {
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  padding-left: 2px;
  padding-top: 2px;
  display: block;
  align-content: center;
  text-decoration: none;
  font-size: 25px;
}
/* -----SwitchBtn Styling Above------ */